body {
    background: black;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center; 
    align-items: center;   
}

.game-container {
    display: flex;
    flex-direction: column;    
    align-items: center;       
}

canvas {
    background: #111;
}

#score {
    color: white;
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

#menu h1 {
    color: white;
}

#menu button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#gameContainer,
#score {
    display: none;
}