<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global-source/global-style.css">
    <link rel="stylesheet" href="/rgohunt/rgo/template/template-source/template-style.css">
    <title>Wiza?</title> 
</head>

<body>
    
    
    <div id="loginDiv">
        <header>
            <h1>RGOHunt</h1>
            <h2>WIZA?</h2>
        </header>
        <div class="main">
                <input id="pass" type="password" placeholder="password">
        </div>
    </div>
    

    <div id="content" style="display:none;">
        <div id="output"></div>
    </div>


<script>
const BACKEND = "https://api.rgopages.hu";

var pass = document.getElementById("pass");
pass.addEventListener("keydown", function (e) {
    if (e.code === "Enter") {  //checks whether the pressed key is "Enter"
        login()
    }
});

async function login() {
        const password = localStorage.getItem("password") || document.getElementById("pass").value;
    
    

    const res = await fetch(BACKEND + "/login", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({password})
    });

    if (!res.ok) {
        alert("Rossz jelszó!");
        return;
    }
    localStorage.setItem("password",password);
    const data = await res.json();
    localStorage.setItem("token", data.token);

    document.getElementById("loginDiv").style.display = "none";
    document.getElementById("content").style.display = "block";
    loadSecret();
}

async function loadSecret() {
    const token = localStorage.getItem("token");

    const res = await fetch(BACKEND + "/secret-data", {
        headers: {
            "Authorization": "Bearer " + token
        }
    });

    const html = await res.text();  // <<-- fontos
  
    document.getElementById("content").innerHTML = html;
}
</script>

</body>

</html>